[Desktop Entry]
Type=Application
Name=Kute
Comment=Music player
Exec=kute
Icon=kute
Categories=AudioVideo;
StartupNotify=true
Terminal=false
StartupWMClass=Kute
